---

---
<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<script src="/assets/bootstrap/bootstrap-4.2.1-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/bootstrap-4.2.1-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
	{% include nav.html %}
	<div class="container">
		<h1>{{ page.title }}</h1>
		{% if page.tags contains "short" %}
		<p>{{ page.date | date_to_string }}  - {{ page.author }}</p>
		<div class="TextCont">
			{{ content }}
		</div>
		{% else %}
		<p>{{ page.date | date_to_string }}</p>
		<div class="PoemCont text-lowercase">
			{{ content }}
			<div class="row float-right" style="margin-right: 4em">
				<p class="text-center text-capitalize"> - {{page.author}}</p>
			</div>
		</div>
		{% endif %}
	</div>

</body>
</html>